@keyframes floating {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 5px 15px 0px var(--undsen);
    transform: translatey(30px);
  }
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0.6);
    transform: translatey(0px);
  }
}

main section#nuur .right img {
  animation: floating 4s infinite;
}
